.SmodalBackground {
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.2);
    position: fixed;
    justify-content: center;
    align-items: center;
    z-index: 99;
    top: 0;
    left: 0;
    display: none;
}

.Smodal-header {
    width: 100%;
    height: 2.938em;
    display: flex;
    justify-content: end;

    /* background-color: #66ff6e; */
}

.Sexit-button {
    /* width: 1.938em; */
    align-items: center;
    font-size: 32px;
    border: none;
    cursor: pointer;
    color: #8B919D;
    background-color: transparent;
}

.SmodalContainer {
    width: 94.125em;
    height: 55.2em;
    display: flex;
    flex-direction: column;
    padding: 1.563rem;

    background: #F3F3F3;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    /* background-color: #fff8b0; */
}

.SmodalContainer .Sbody-modal {
    flex: 50%;
    display: flex;
    font-size: 1.7rem;
    justify-content: center;
    align-items: center;
    text-align: center;

    /* background-color: #ffe386; */
}

.Sbox-modal-assistant {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.assistant-id {
    width: 100%;
    height: 47%;
    margin-top: 1.25rem;

    /* background-color: rgb(0, 134, 60); */
}

.assistant-modal img {
    height: 240.18px;
    width: 270.69px;

    cursor: pointer;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.assistant-id h3 {
    margin-top: 1.3rem;
    display: flex;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 27px;
    justify-content: center;
    overflow-y: hidden;
    color: #17233C;
}

.assistant-info {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;

    /* background-color: brown; */
}

.box-description {
    width: 100%;
    height: 2.25em;

    /* background-color: rgb(255, 234, 117); */
}

.assistant-info h4 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-indent: 20px;
    color: #3475BB;
}

.box-paragraph {
    width: 25.188em;
    height: 12.688em;
    /* margin-top: 1.3rem; */
    display: flex;

    /* background-color: darkcyan; */
}

.box-paragraph p {
    display: flex;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    text-align: left;
    line-height: 31px;
    color: #636363;
    white-space: normal;
    word-wrap: anywhere;
}

.assistant-date {
    height: 4.813em;
    /* margin-top: 1.25rem; */
    margin-bottom: 1.3rem;
    display: flex;
    line-height: 27px;
    flex-direction: column;

    /* background-color: coral; */
}

.span1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;

    color: #3475BB;
}

.span2 {
    margin-top: 1rem;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;

    color: #636363;
}

.assistant-graphics {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.graphic-1 {
    width: 98%;
    height: 360px;
    display: flex;
    justify-content: center;
    border-radius: 30px;
    background: #FFFFFF;
}

.graphic-left-side {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container-left {
    width: 264px;
    height: 210px;
    margin-top: 22px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.box-label1-health {
    width: 260px;
    display: flex;
    align-items: center;
}

.box-label2-health {
    width: 260px;
    margin-top: 28px;
    display: flex;
    align-items: center;
}

.graphic-left-side h1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    display: flex;
    align-items: center;

    color: #3475BB;
}

.square-green {
    width: 33px;
    height: 33px;

    border-radius: 10px;
    background: #3FDA9F;
}

.square-red {
    width: 33px;
    height: 33px;

    border-radius: 10px;
    background: #E41500;
}

.graphic-left-side span {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-indent: 24px;

    color: #636363;
}

.graphic-right-side {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    /* background-color: #89ff81; */
}

.GraphicHealth {
    width: 258.58px !important;
    height: 258.93px !important;
}

.GraphicHealth label {
    width: 200px;
    background-color: aquamarine;
}

.graphic-2 {
    width: 98%;
    height: 360px;
    margin-top: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    background: #FFFFFF;
}

.container-grafico{
    width: 635px;
}
