@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&family=Nunito&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

:root{
    --mainColor: #3475BB;
    --secondMain: #3375BA;
    --secondaryColor: #38538A;
    --complementColor: #8B919D;
    --complementLight: #F2F2F2;
    --complementDark: #17233C;
}


body {
    background-color: #EFEFEF;
    color: white;
}

.boards {
    display: flex;
    margin-top: 32px;
    align-items: center;
}

.board {
    background: #D2D2D2;
    border: 1px solid #FD951F11;
    border-radius: 4px;

    margin: 0 16px;
}

.board h3 {
    padding: 16px;
    margin: 0;
    color: #022041;
}

.dropzone {
    padding: 16px;
    min-width: 282px;
    min-height: 200px;
}

.card {
    background-color: var(--mainColor);
    padding: 16px;
    box-shadow: 0 2px 2px -1px #FD951Fcc;
    width: 250px;
    margin: 25px 0;
    border-radius: 4px;
    font-weight: 600;
    font-size: 18px;
    color: #fff;
}

.card-email{
    background-color: var(--secondMain);
}

.card-math{
    /* background-color: #FF2D2D; */
    background-color: var(--mainColor);
}

.highlight {
    background-color: #FD951F08;
}

.card, .dropzone {
    transition: 400ms;
}

.is-dragging {
    cursor: move;
    opacity: 0.3;
}

.over {
    background-color: #4cd13711;
}



/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 40%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  
  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  
  /* The Close Button */
  .close {
    color: white;
    float: right;
    font-size: 40px;
    font-weight: bold;
    height: 100%;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-header {
    padding: 2px 16px;
    background-color: var(--mainColor);
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .modal-body {
      padding: 16px;
      display: flex;
      flex-direction: column;
    }
  
  /* .modal-footer {
    padding: 2px 16px;
    background-color: var(--mainColor);
    color: white;
  } */

  .modal-header--content{
      width: auto;
      min-width: 24%;
      max-width: 64%;
      display: flex;
      align-items: center;
      flex-direction: row;
      height: 100%;
      margin: 0 8px 0 0;
  }

  
  .modal__text--heading{
      font-weight: bold;
      margin-right: 8px;
    }
    
    .modal__text{
        color: var(--complementDark);
    }

.boards__button{
  height: 48px;
  width: 80px;
  margin: 64px;
  border-radius: 10px;
  background-color: var(--secondaryColor);
  color: var(--complementLight);
  font-weight: bold;
}

.boards__text{
  color: var(--complementColor);
  font-weight: bold;
  font-size: 32px;
}