.Dark{
    --PrimaryColor1: #E7DCC2;
    --PrimaryColor2: #CB8A44;
    --SecundaryColor1: #217CB2;
    --SecundaryColor2: #07609A;
    --CTA1: #3FDA9F;
    --CTA2: #E41500;
    --ScreenBackground: #3F3F3F;
    --ComplementaryColor1: #0D0D0D;
    --ComplementaryColor2: #C2C2C2;
    --ComplementaryColor3: #F6F5F2;
    --ComplementaryColor4: #938A82;
    --WHITE: #000;
    --BLACK: #FFF;
    --lightShadow: rgba(220, 220, 220, 0.25);
    --darkShadow: rgba(255, 255, 255, 0.25)
}

.Dark footer img{
    filter: invert(1);
}
.Dark footer svg{
    filter: invert(1);
}

.Dark footer .rightsReserved svg{
    filter: invert(0);
}

.Dark .BotoesModais img{
    filter: invert(1);
}