@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.button {
    background: var(--PrimaryColor2);
    width: 400px !important;
    height: 45px !important;
    color: var(--WHITE);
    border-radius: 64px;
    font-family: 'Montserrat', sans-serif !important;
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button svg {
    color: var(--WHITE);
}

.button:hover {
    background: var(--PrimaryColor1);
}

.button-landingPage {
    width: 150px !important;
}

@media only screen and (max-width: 375px) {
    .button {
        background: var(--PrimaryColor2);
        width: 200px !important;
        height: 40px !important;
        color: var(--WHITE);
        border-radius: 64px;
        font-family: 'Montserrat', sans-serif !important;
        font-size: 22px;
        font-weight: 400;
        line-height: 28px;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }

}