@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
    font-family: 'Montserrat', sans-serif;
    --widthLogoPadrao: 275px;
    --heigthLogoPadrao: 95px;
}

.h1, h1 {
    font-size: 3rem;
    font-family: 'Montserrat', sans-serif;
    line-height: 2rem;
}
.h2, h2 {
    font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.9rem;
}
.h3, h3 {
    font-size: 2.07rem;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.8rem;
    font-weight: normal;
}
.h4, h4 {
    font-size: 1.8rem;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.7rem;
}
.h5, h5 {
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6rem;
}
.h6, h6 {
    font-size: 1.1rem;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5rem;
}
.p, p {
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.4rem;
}

.bold {
    font-weight: 700;
}

.semi-bold {
    font-weight: 600;
}

.box-shadow {
    box-shadow: 4px 4px var(--lightShadow);
}

.background {
    display: flex;
    align-items: center;
}

.backgroudRegister {
    background: var(--ScreenBackground);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100vh;
}

/* INPUT CSS */

.foreachInput {
    height: 90px;
    width: 100%;
}

.foreachInput select {
    border: 1px solid var(--PrimaryColor1);
    box-sizing: border-box;
    border-radius: 32px;
    height: 45px;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 1rem;
    font-family: 'Montserrat';
}

.select{
    border: 1px solid var(--PrimaryColor1);
    box-sizing: border-box;
    border-radius: 32px;
    height: 45px;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 1rem;
    font-family: 'Montserrat';
}

.selectContent{
    padding-left: 5%
}

.foreachInput .sendPhoto {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-left: 0%;
    margin-left: 5%;
    color: var(--WHITE);
    border-radius: 32px;
    width: 50%;
}

.foreachInputModal {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    color: var(--WHITE);
    border-radius: 32px;
    margin-right: 3%;
    width: 20%;
}

.foreachInputModal .sendPhoto {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-left: 0%;
    margin-left: 5%;
    color: var(--WHITE);
    border-radius: 32px;
    width: 100%
}

.foreachInput .sendPhoto:hover {
    background: var(--PrimaryColor2);
}

.formRegister label {
    color: var(--PrimaryColor1);
    line-height: 28px;
    display: flex;
    justify-content: flex-start;
    padding-left: 5%;
}

.formRegister input {
    border: 1px solid var(--PrimaryColor1);
    box-sizing: border-box;
    border-radius: 32px;
    font-size: 1rem;
    height: 45px;
    width: 100%;
}

#placeholder-text::placeholder {
    color: var(--darkShadow);
    font-size: 1.2rem;
}

.placeholder-text::placeholder {
    color: var(--darkShadow);
    font-size: 1.2rem;
}

.input {
    border: 1px solid var(--PrimaryColor1);
    font-size: 1.2rem;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    border-radius: 32px;
    height: 45px;
    width: 100%;
}

.displayblock {
    display: none;
}

.previewImage {
    width: 55px;
    margin-top: 5px;
}
.center {
    display: flex;
    align-items: center;
    flex-direction: column;
}

@media screen and (max-width: 765px){
    .formRegister input {
        height: 40px;
    }
}

@media only screen and (max-width: 375px) {
    :root {
        font-family: 'Montserrat', sans-serif;
        --widthLogoPadrao: 275px;
        --heigthLogoPadrao: 95px;
        font-size: 0.8em;
    }
}