@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
/* 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

.container {
    width: 1200px;
    margin: 0 auto;
}

footer {
    background: #17233C;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

footer span {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
}

.footerMainContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1250px;
}

.footer2RP {
    height: 130px;
    width: 374px;
}

.socialNetworkArea{
    width: 325px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.socialNetworkIcons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.instagramIcon {
    width: 60px;
    height: 55px;
}
.twitterIcon {
    width: 68px;
    height: 52px;
}
.facebookIcon {
    width: 66px;
    height: 61px;
}
.youtubeIcon {
    width: 73px;
    height: 48px;
}

.rightsReserved {
    margin: 0 auto;
}
