.SmodalBackground {
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.2);
    position: fixed;
    justify-content: center;
    align-items: center;
    z-index: 99;
    top: 0;
    left: 0;
    display: none;
}

.Smodal-header {
    width: 100%;
    height: 2.938em;
    display: flex;
    justify-content: end;

    /* background-color: #66ff6e; */
}

.Sexit-button {
    /* width: 1.938em; */
    align-items: center;
    font-size: 2em;
    border: none;
    cursor: pointer;
    color: #8B919D;
    background-color: transparent;
}

.SmodalContainer {
    width: 90em;
    height: 47em;
    display: flex;
    flex-direction: column;
    padding: 1.563rem;

    background: #F3F3F3;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    /* background-color: #fff8b0; */
}

.SmodalContainer .Sbody-modal {
    flex: 50%;
    display: flex;
    font-size: 1.7rem;
    justify-content: center;
    align-items: center;
    text-align: center;

    /* background-color: #ffe386; */
}

.Sbox-modal-assistant {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.assistant-id {
    width: 100%;
    height: 37%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    /* margin-top: 1.25rem; */

    /* background-color: rgb(0, 134, 60); */
}


.Sassistant-modal {
    display: flex;
    width: 22vh;
}

.box-img-modal {
    width: 74%;
    display: flex;
    justify-content: space-around;

    /* background-color: #b1d7ff; */
}

.Sbox-assistantName {
    width: 100%;
    /* background-color: #fcff98; */
}

.assistant-id h3 {
    margin-top: 1.6rem;
    display: flex;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    justify-content: center;
    overflow-y: hidden;
    color: #17233C;
}

.assistant-info {
    width: 100%;
    height: 59%;
    display: flex;
    align-items: center;
    flex-direction: column;

    /* background-color: brown; */
}

.box-description {
    width: 100%;
    height: 1.7em;

    /* background-color: rgb(255, 234, 117); */
}

.assistant-info h4 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-indent: 20px;
    color: #3475BB;
}

.box-paragraph {
    width: 25em;
    height: 8.2em;
    display: flex;
    flex-direction: column;
    /* background-color: darkcyan; */
}

.box-paragraph textarea {
    display: flex;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    text-align: left;
    line-height: 31px;
    color: #636363;
    background-color: unset;
    border: none;
    white-space: normal;
    word-wrap: anywhere;
    border-radius: 30px;
    padding: 1em;
}

.assistant-date {
    height: 2.8em;
    /* margin-top: 1.25rem; */
    /* margin-bottom: 1.3rem; */
    margin-top: 16px;
    margin-bottom: 16px;
    display: flex;
    line-height: 27px;
    flex-direction: column;

    /* background-color: coral; */
}

.span1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;

    color: #3475BB;
}

.span2 {
    margin-top: 1rem;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;

    color: #636363;
}

.assistant-graphics {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.graphic-1 {
    width: 95%;
    height: 290px;
    display: flex;
    justify-content: center;
    border-radius: 30px;
    background: #FFFFFF;
}

.graphic-left-side {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container-left {
    width: 264px;
    height: 185px;
    margin-top: 22px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.box-label1-health {
    width: 282px;
    display: flex;
    align-items: center;
}

.box-label2-health {
    width: 282px;
    margin-top: 28px;
    display: flex;
    align-items: center;
}

.graphic-left-side h1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    display: flex;
    align-items: center;

    color: #3475BB;
}

.square-green {
    width: 30px;
    height: 30px;

    border-radius: 10px;
    background: #3FDA9F;
}

.square-red {
    width: 30px;
    height: 30px;

    border-radius: 10px;
    background: #E41500;
}

.graphic-left-side span {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-indent: 24px;

    color: #636363;
}

.graphic-right-side {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    /* background-color: #89ff81; */
}

.GraphicHealth {
    width: 220.58px !important;
    height: 220.93px !important;
}

.graphic-2 {
    width: 95%;
    /* height: 290px; */
    height: 50%;
    margin-top: 1.875rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    background: #FFFFFF;
}

.container-graphic {
    /* width: 651px; */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;

    /* background-color: #8bb0ff; */
}

.box-quantity h1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    display: flex;
    align-items: center;
    /* text-indent: 24px; */
    /* margin-top: 16px; */
    color: #3475BB;

}

.box-quantity {
    /* width: 316px;
    height: 142px; */
    /* margin-top: 22px; */
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    /* background-color: #ffa4a4; */
}

.container-boxQ{
    width: 264px;
    height: 50%;
    margin-top: 22px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    /* background-color: #636363; */
}

.square-blue {
    width: 30px;
    height: 30px;

    border-radius: 10px;
    background: #022041;
}

.box-quantity span {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-indent: 24px;

    color: #636363;
}

.graphic2-right-side {
    width: 302px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    /* background-color: #af7dff; */
}

.box-graphic-quantity {
    width: 250px;
    height: 250px;
    display: flex;
    border: 14px solid #3375BA;
    border-radius: 74px;
    justify-content: center;
    align-items: center;
}

.box-graphic-quantity span {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 108px;
    line-height: 132px;
    display: flex;
    align-items: center;

    color: #022041;
}

.button-delete {
    width: 8em;
    height: 2em;
    border-radius: 64px;
    border: none;
    font-family: 'Exo';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    background: #E41500;

    color: #FFFFFF;
}

.button-delete:hover {
    background-color: #b81200;
}

.icon-edit {
    height: 100%;
    cursor: pointer;
    color: #3475BB;

}

.icon-edit:hover {
    color: #28598f;
    scale: 1.1;
    transition: all .2s ease-in-out
}

.button-edit {
    width: 30px;
    height: 30px;
    border: none;
    outline: none;
    background-color: unset;
}

.btn-save-modal {
    width: 8em;
    height: 2em;
    margin-top: 1.2rem;
    border-radius: 64px;
    border: none;
    font-family: 'Exo';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    display: flex;
    align-items: center;
    justify-content: center;

    color: #FFFFFF;
    background: #3475BB;
}

.box-quantity span {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-indent: 24px;

    color: #636363;
}

.subtitle-quantity {
    display: flex;
    width: 282px;
    /* margin-left: 1.375rem; */

    /* background-color: #fff3a4; */
}

.graphic2-right-side {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    /* background-color: #af7dff; */
}

.box-graphic-quantity {
    width: 205px;
    height: 205px;
    display: flex;
    border: 14px solid #3375BA;
    border-radius: 74px;
    justify-content: center;
    align-items: center;
}

.box-graphic-quantity span {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 90px;
    line-height: 132px;
    display: flex;
    align-items: center;

    color: #022041;
}

/* Responsividade */

@media (max-width: 768px) {
    .graphic-1 {
        width: 100%;
    }

    .graphic-2 {
        width: 100%;
    }

    .assistant-graphics {
        height: 82%;
        /* background-color: brown; */
    }

    .graphic-left-side h1 {
        font-size: 14px;
        text-indent: 20px;
    }

    .container-left {
        width: 100%;
        height: 75%;
        margin-top: unset;
        /* background-color: #022041; */
    }

    .graphic-left-side span {
        font-size: 11px;
        text-indent: 5px;
    }

    .graphic-right-side {
        /* background-color: green; */
        width: 44%;
    }

    .graphic-left-side {
        width: 56%;
        /* background-color: darkslateblue; */
    }

    .assistant-id h3 {
        margin-top: 0.6rem;
        font-size: 17px;
    }

    .button-edit {
        width: 20px;
        height: 20px;
    }

    .box-img-modal {
        width: 75%;
        /* background-color: #b1d7ff; */
    }

    .box-img-modal img {
        width: 67%;
        height: 94%;
        /* background-color: darkgreen; */
    }

    .SmodalContainer .Sbody-modal {
        height: 95%;
        align-items: unset;
        /* background-color: rgb(255, 223, 174); */
    }

    .SmodalContainer {
        width: 51em;
        height: 50em;
    }

    .GraphicHealth {
        width: 140px !important;
        height: 140px !important;
    }

    .square-green {
        width: 18px;
        height: 18px;
    }

    .square-red {
        width: 18px;
        height: 18px;
    }

    .assistant-info h4 {
        font-size: 15px;
    }

    .box-paragraph {
        width: 13.188em;
        height: 3.5em;
        /* background-color: indianred; */
    }

    .box-paragraph textarea {

        font-size: 13px;
        line-height: 20px;
        padding: 1em;
    }

    .span1 {
        font-size: 13px;
    }

    .span2 {
        margin-top: 0.2rem;
        font-size: 13px;
        line-height: 20px;
    }

    .button-delete {
        width: 8em;
        height: 2em;
        font-size: 15px;
        line-height: 27px;
    }

    .container-graphic {
        width: 100%;
        height: 100%;
        /* background-color: #8bb0ff; */
    }

    .box-quantity {
        width: 56%;
        height: 56%;
        /* background-color: olive; */
    }

    .box-quantity h1 {
        font-size: 14px;
        text-indent: 5px;
        line-height: 20px;
        white-space: normal;
        word-wrap: anywhere;
    }

    .box-quantity span {
        font-size: 11px;
        text-indent: 5px;
    }

    .square-blue {
        width: 18px;
        height: 18px;
    }

    .box-graphic-quantity {
        width: 75%;
        height: 56%;
    }

    .box-graphic-quantity span {
        font-size: 30px;
    }

    .graphic2-right-side {
        width: 44%;
        /* background-color: #3FDA9F; */
    }

    .box-label1-health {
        width: 90%;
        margin-left: 10px;
    }

    .box-label2-health {
        width: 90%;
        margin-left: 10px;
    }

}