@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body{
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}

.sidebar .nav_list{
    padding: 0;
}

.sidebar{  
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 60px;
    background: var(--PrimaryColor2);
    padding: 6px 14px;
    transition: all 0.5s ease;
    z-index: 99;
}
.sidebar.active{
   width: 240px;
}
.sidebar .logo_content .logo{
    color: var(--WHITE);
    display: flex;
    width: 150px;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    margin-top: 5px;
    margin-left: 15px;
    
}
.sidebar.active .logo_content .logo{
    transition: all 0.5s ease;
    opacity: 1;
}
.sidebar .Links_name{
    opacity: 0;
    pointer-events: none;
    width: 100%;
}
.Link:hover{
    /* background-color: rgb(239, 239, 239); */
    border-radius: 5px;
    width: 200px;
}
.sidebar.active .Links_name{
    opacity: 1;
    pointer-events: auto;
}
.sidebar .btn:hover{
    cursor: pointer;
}
.sidebar .btn{
    position: absolute;
    color: var(--WHITE);
    left: 50%;
    top: 15px;
    font-size: 20px;
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
    transform: translateX(-50%);
}
.sidebar.active .btn{
    left: 90%;
}
.sidebar ul{
    margin-top: 20px;
}
.sidebar li .icon2{
    pointer-events: auto;
}

.sidebar ul li{
    pointer-events: none;
    position: relative;
    height: 50px;
    width: 230px;
    margin: 0 5px;
    list-style: none;
    line-height: 50px;
    
}
.sidebar.active ul li{
    pointer-events: auto;
}

.sidebar ul li .Link{
    
    cursor: default;
    color: var(--WHITE);
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 12px;
}
.sidebar.active .Link:hover{
    cursor: pointer;
    background: var(--WHITE);
    color: var(--PrimaryColor2);
    width: 100%;
    
}
.sidebar .icon2:hover{
    
    background: var(--WHITE);
    color: var(--PrimaryColor2);
    
}
.sidebar ul li .icon2{
    height: 50px;
    min-width: 30px;
    border-radius: 12px;
    line-height: 50px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}
/* #bag{
    width: 30px;
    height: 28px;
} */

.sidebar .profile_content{
    position: absolute;
    color: var(--WHITE);
    bottom: 0;
    left: 0;
    width: 100%;
}
.sidebar .profile_content .profile{
    position: relative;
    padding: 10px 6px;
    height: 60px;
    background: var(--ComplementaryColor3);
}
.profile_content .profile .profile_details{
    display: flex;
    align-items: center;
    white-space: nowrap;
    margin: 0px 10px;
    height: 50px;
    transition: all 0.5s ease;
}
.sidebar.active .profile .profile_details{
    pointer-events: auto;
    /* width: 130px; */
    transition: all 0.5s ease;
    margin-left: 5px;
}
.sidebar.active .profile .profile_details .name_job{
    margin-left: 10px;
    transition: all 0.5s ease;
    opacity: 1;
}


.profile .profile_details .name_job2{
    transition: all 0.5s ease;
    opacity: 0;
    color: var(--WHITE);
    margin-left: 30px;
}
.profile .profile_details .name2{
    font-family:'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 600;
}
.profile .profile_details img{
    opacity: 1;
    width: 50px;
    object-fit: cover;
    border-radius: 12px;
}
.profile .profile_details .name_job{
    pointer-events: none;
    opacity: 0;
    width: 100%;
    margin: 0;
}
.profile .profile_details .name{
    font-size: 15px;
    font-weight: 600;
}
.profile .profile_details .job{
    font-size: 12px;
}
.profile #log_out{
    cursor: pointer;
    position: absolute;
    left: 50%;
    bottom: 29px;
    transform: translateX(-50%);
    min-width: 50px;
    line-height: 50px;
    font-size: 30px;
    border-radius: 12px;
}
.sidebar span{
    font-family:'Montserrat', sans-serif;
    margin-left: 30px;
}
.home_content{
    position: absolute;
    height: 100%;
    width: calc(100% - 240px);
    left: 240px;
}
.body-pd{
    position: absolute;
    overflow-x: none;
    height: 100%;
    width: calc(100% - 78px);
    left: 78px;
    transition: all 0.5s ease;
}
.sidebar.active ~ .body-pd{
    width: calc(100vw - 240px);
    left: 269px;
}


html {
    overflow-x: hidden;
}

.options{
    border-radius: 8px;
    opacity: 0;
    z-index: 100;
    pointer-events: none;
    transition: all 0s ease;
    position: fixed;
    height: 70px;
    left: 0;
    bottom: 0%;
    width: 268px;
    color: var(--WHITE);
    background: var(--ComplementaryColor3);
}
.options.active{
    bottom: 7.4%;
    pointer-events: auto;
    opacity: 1;
    transition: all 0.5s ease;
}
.logout{
    opacity: 1;
    height: 30px;
    display: flex;
    align-items: center;
}
 .myProfile{
    margin-top: 5px;
    height: 30px;
    display: flex;
    align-items: center;
}
.logout:hover{
    cursor: pointer;
    background: #73727b;
}
.myProfile:hover{
    cursor: pointer;
    background: #73727b;
}
.logout .btn_log_perfil{
    padding-left: 24px;
    padding-right: 6px;
}
.options span{
    margin-left: 20px;
    font-size: 1em;
}

.btn_log_perfil{
    
    font-size: 22px;
    line-height: 50px;
    padding-left: 20px;
    padding-right: 10px;
    text-align: center;
}
.hd{
    visibility: hidden;
}

@media (max-width: 768px) {
    .hd{
        visibility: visible;
    }

    .sidebar{
        visibility: hidden;
        width: 60px;
        height: 100%;
        transition: all 0s ease;

    }
    .sidebar .nav_list{
        pointer-events: none;
        opacity: 0;
        padding: 0;
    }
    .sidebar.active .nav_list{
        pointer-events: all;
        opacity: 1;
        transition: all 0.3s ease;
    }

    .sidebar.active{  
        visibility: visible;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 240px;
        background: var(--PrimaryColor2);
        padding: 6px 14px;
        transition: all 0.7s ease;
        z-index: 99;
    }
    .sidebar.active .profile_content{
        opacity: 1;
        transition: all 0.5s ease;
    }

    .sidebar .profile_content{
        transition: all 0.5s ease;
        opacity: 0;
        pointer-events: none;
    }
    .body-pd{
        position: absolute;
        overflow-x: none;
        height: 100%;
        width: 100%;
        left: auto;
        transition: none;
    }
    .sidebar.active ~ .body-pd{
        width: calc(100vw - 0px);
    }
    .sidebar .btn {
    visibility: visible;
    position: absolute;
    color: var(--WHITE);
    left: 50%;
    top: 15px;
    font-size: 20px;
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
    transform: translateX(-50%);
}
}
@media (max-width: 992px) {
    .body-pd{
        position: absolute;
        overflow-x: none;
        height: 100%;
        width: 100%;
        left: auto;
        transition: none;
    }
    .sidebar.active ~ .body-pd{
        width: calc(100vw - 0px);
    }
    /* .body-pd{
        position: absolute;
        overflow-x: none;
        height: 100%;
        width: calc(100% - 78px);
        left: 78px;
        transition: all 0.5s ease;
    }
    .sidebar.active ~ .body-pd{
        width: calc(100vw - 240px);
        left: 269px;
    } */
    

}