@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body{
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}

.sidebar .nav_list{
    padding: 0;
}
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 60px;
    background: var(--PrimaryColor2);
    padding: 6px 14px;
    transition: all 0.5s ease;
    z-index: 99;
}
.sidebar.active{
    
    width: 240px;
}
.sidebar .logo_content .logo{
    color: var(--WHITE);
    display: flex;
    height: 52.21px;
    width: 150px;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    margin-top: 10px;
}
.sidebar.active .logo_content .logo{
    opacity: 1;
}
.sidebar .Links_name{
    opacity: 0;
    pointer-events: none;
    
}
.sidebar.active .Links_name{
    opacity: 1;
    pointer-events: auto;
}
.sidebar .btn:hover{
    cursor: pointer;
}
.sidebar .btn{
    position: absolute;
    color: var(--WHITE);
    left: 50%;
    top: 15px;
    font-size: 20px;
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
    transform: translateX(-50%);
}
.sidebar.active .btn{
    left: 90%;
}
.sidebar ul{
    margin-top: 20px;
}
.sidebar li .icon2{
    pointer-events: auto;
}

.sidebar ul li{
    pointer-events: none;
    position: relative;
    height: 50px;
    width: 200px;
    margin: 0 5px;
    list-style: none;
    line-height: 50px;
    
}
.sidebar.active ul li{
    pointer-events: auto;
}

.sidebar ul li .Link{
    
    cursor: default;
    color: var(--WHITE);
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 12px;
}
.sidebar.active .Link:hover{
    cursor: pointer;
    background: var(--WHITE);
    color: var(--PrimaryColor2);
    
}
.sidebar .icon2:hover{
    
    background: var(--WHITE);
    color: var(--PrimaryColor2);
    
}
.sidebar ul li .icon2{
    height: 50px;
    min-width: 30px;
    border-radius: 12px;
    line-height: 50px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}
/* #bag{
    width: 30px;
    height: 28px;
} */

.sidebar .profile_content{
    position: absolute;
    color: var(--WHITE);
    bottom: 0;
    left: 0;
    width: 100%;
}
.sidebar .profile_content .profile{
    position: relative;
    padding: 10px 6px;
    height: 60px;
    background: var(--ComplementaryColor3);
}
.profile_content .profile .profile_details{
    display: flex;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    white-space: nowrap;
}
.sidebar.active .profile .profile_details{
    opacity: 1;
    pointer-events: auto;
    width: 130px;
    height: 50px;
    transition: all 0.5s ease;
}
.profile .profile_details .name_job{
    color: var(--WHITE);
    margin-left: 30px;
}
.profile .profile_details .name{
    font-family:'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: 600;
}
/* .profile .profile_details .name_job{
    margin-left: 10px;
}
.profile .profile_details .name{
    font-size: 15px;
    font-weight: 400;
}
.profile .profile_details .job{
    font-size: 12px;
} */
.profile #log_out{
    cursor: pointer;
    position: absolute;
    left: 50%;
    bottom: 29px;
    transform: translateX(-50%);
    min-width: 50px;
    line-height: 50px;
    font-size: 30px;
    border-radius: 12px;
}
.sidebar.active .profile #log_out{
    left: 88%;
}
.sidebar span{
    font-family:'Montserrat', sans-serif;
    margin-left: 30px;
}
.home_content{
    position: absolute;
    height: 100%;
    width: calc(100% - 240px);
    left: 240px;
}
.body-pd{
    position: absolute;
    overflow-x: none;
    height: 100%;
    width: calc(100% - 78px);
    left: 78px;
    transition: all 0.5s ease;
}
.sidebar.active ~ .body-pd{
    width: calc(100vw - 240px);
    left: 269px
}