.configPage {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: auto;
    height: 100vh;
    width: 100vw - 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.configPage h1 {
    letter-spacing: 0.035em;
}

.container {
    width: 1440px;
    margin: 0 auto;
}

.configPage h1 {
    display: flex;
    justify-content: center;
}

.navAreaConfig {
    display: flex;
    justify-content: space-evenly;
}

.navAreaConfig span {
    cursor: pointer;
}

.areaStep {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.contentAreaConfig {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.configContent {
    background: #FFFFFF;
    border: 2px solid #F2F2F2;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    height: 60vh;
    padding: 8vh 8vh;
}

.mainContentArea {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    height: 60%;
    padding-bottom: 2%;
}

.mainContentArea h5 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    line-height: 1.7em !important;
}

.contentConfig {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.dataUser {
    display: flex;
    align-items: baseline;
}

.dataUser label {
    font-weight: bold;
}

.dataUser p {
    /* font-size: 1.2em;
    font-family: 'Montserrat', sans-serif;
    color: #6C757D; */
    margin-left: 3%;
}

.profileImage {
    width: 320px;
    height: 320px;
    border-radius: 50%;
    object-fit: cover;
}

.iconConfig {
    width: 38px;
    height: 55px;
}

.iconConfig2 {
    width: 55px;
    height: 55px;
}

.iconConfig:hover {
    color: green;
}

.iconConfig2:hover {
    color: red;
}

.validUser {
    display: flex;
    justify-content: center;
}

.contentValidUser {
    border-bottom: 1px solid;
    padding-bottom: 2%;
    padding-top: 2%;
    border-color: #6C757D;
}

.contentValidCompany {
    border-bottom: 1px solid;
    padding-bottom: 2%;
    padding-top: 2%;
    border-color: #6C757D;
    height: 25%;
    width: 85%;
}

.scrollDiv {
    overflow-y: auto;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.selected {
    font-weight: 600;
}

.modalConfig {
    height: 100%;
}

.profileImageArea {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.closeModal {
    position: fixed;
}

.inputsModalArea {
    width: 80%;
}

.inputsModal {
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.inputsModal label {
    padding-left: 5%;
    color: var(--PrimaryColor1);
    font-weight: 500;
}

.maskProfile {
    background-color: #6C757D;
    height: auto;
    border-radius: 50%;
    margin: auto;
}

.editProfileImage {
    opacity: 0.4;
}

.inputsModalArea {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 35%;
}

.inputsModal {
    display: flex;
    flex-direction: column;
}

.profile h2 {
    /* font-size: 40px; */
    margin-bottom: 52px;
}

.profile .configContent {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 40px;
}

.TrophiesContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 120px;
    row-gap: 52px;
}

.TrophiesContainer img {
    width: 60px;
    height: 60px;
}

.TrophiesContainer button {
    border: none;
    background-color: var(--WHITE);
}

.imgAcinzentada {
    filter: grayscale(1);
}

.ContainerModalTrophiesAlinhamento {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
}

.ContainerModalTrophies {
    display: flex;
    align-items: flex-start;
    padding: 56px;
    overflow-x: hidden;
    justify-content: space-between;
    width: 100%;
    height: 300px;
    overflow-y: hidden;
}

.ContainerModalTrophies img {
    width: 300px;
    height: 300px;
}

.ImgTrophyModalNotEarned {
    filter: grayscale(1);
}

.ContainerModalTrophies button {
    border: none;
    background-color: var(--WHITE);
    color: var(--ComplementaryColor4);
    font-size: 26px;
    font-weight: 600;
}

.TrophyData {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 550px;
    height: 300px;
    justify-content: space-between;
    margin-left: 50px;
}

.profile .container {
    width: 90%;
    margin-top: 30px;
}

.profile section {
    margin-bottom: 72px;
    margin-top: 36px;
}

.ProfileContainer .body-pd {
    height: auto;
}

.ProfileContainer .configPage {
    height: auto;
}

.profile .configContent {
    height: auto;
}

.skin-profile-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: unset;
    color: var(--BLACK);
    width: 300px;
    height: 500px;

    /* efeito de zoom */
    max-width: 100%;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.skin-profile-card:hover {
    -moz-transform: scale(1.07);
    -webkit-transform: scale(1.07);
    transform: scale(1.06);
}

/* efeito de zoom */

.skin-profile-card img{
    width: 250px;
    height: auto;
}
.margin-ajuste-profile{
    margin-bottom: 20px;
}

.skin-profile-card img {
    width: 250px;
    height: auto;
}

.newPassword label {
    padding-left: 5%;
}

@media only screen and (max-width: 1550px) {
    :root {
        font-size: 0.9em;
    }
    .navAreaConfig {
        width: 85vw;
        overflow: hidden;
    }

    #configTitlle {
        width: 85vw;
        overflow: hidden;
        height: 33px;
    }

    .configContent {
        width: 80vw;
    }

    .profileImage {
        width: 290px;
        height: 290px;
    }
}

@media only screen and (max-width: 1199px) {
    :root {
        font-size: 0.85em;
    }

    .navAreaConfig {
        width: 65vw;
        overflow: hidden;
    }

    #configTitlle {
        width: 65vw;
        overflow: hidden;
        height: 28px;

    }

    .configContent {
        width: 65vw;
        height: 550px;
        padding: 2vh 2vh;
    }

    .areaStep {
        justify-content: space-evenly;
    }

    .contentAreaConfig {
        flex-direction: column;
    }

    .input {
        height: 40px;
    }
    .profileImage {
        width: 200px;
    }
}

@media only screen and (max-width: 992px) {
    :root {
        font-size: 0.75rem;
    }

    .container {
        width: 750px;
    }

    .navAreaConfig {
        width: 65vw;
        overflow: hidden;
    }

    #configTitlle {
        width: 65vw;
        overflow: hidden;
    }

    .configContent {
        width: 65vw;
        height: 550px;
        padding: 2vh 2vh;
    }

    .areaStep {
        justify-content: space-evenly;
    }

    .contentAreaConfig {
        flex-direction: column;
    }

    .profileImage {
        width: 200px;
    }

    .mainContentArea {
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 767px) {
    :root {
        font-size: 0.83rem;
    }

    .container {
        width: auto;
    }

    .sidebar {
        visibility: hidden;
    }

    .body-pd {
        width: unset;
        position: unset;
        justify-content: space-evenly;
        overflow: hidden;
    }

    #configTitlle {
        width: 90vw;
    }

    .navAreaConfig {
        width: 90vw;
        align-items: center;
    }

    .navAreaConfig span {
        font-size: 1.4em;
    }

    .configContent {
        width: 90vw;
    }

    .profileImage {
        width: 155px;
        height: 155px;
    }

    .areaStep {
        justify-content: space-between;
    }

    .contentAreaConfig {
        height: 85%;
    }

    .mainContentArea {
        flex-direction: column;
        justify-content: space-evenly;
        width: auto;
        align-items: unset;
    }

    .contentConfig {
        height: 110px;
        width: 100%;
    }

    .button {
        width: 100% !important;
    }

    #validarUsuarios {
        visibility: hidden;
        display: none;
    }
    #modalAtualize {
        width: 80vw !important;
    }
    .maskProfile {
        height: auto;
        width: auto;
        margin: auto;
    }
    .closeModal {
        position: fixed;
        margin-left: unset;
    }
    .sendPhoto {
        height: 25px;
    }
    .foreachInputModal {
        width: 30%;
    }
    .inputsModalArea {
        width: 100%;
    }
    .newPassword {
        width: 45%;
    }
    .newPassword label {
        padding-left: 5%;
    }
    /* .newPassword input {} */
    .confirmPassword {
        height: 100px;
        width: 100%;
        margin-top: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
}
@media only screen and (max-width: 477px) {
    #DataNascimento {
        font-size: 1em;
    }
}
