.conteiner-guide{
        margin-left: 170px;
        margin-top: 50px;
}
.video-youtube{
        margin-left: 170px;
        margin-top: 50px;
}
.body-conteiner{
        background-color: #f1f1f1;
        height: 50vh;
}