@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    overflow: unset;
}

.landingPage {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: auto;
}


.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}
.landbutton-test {
    font-size: 1rem;
    margin-top: 32px;
    margin-bottom: 32px;
    width: 200px;
}

a {
    text-decoration: none;
}

/*------HEADER------*/
.header {
    align-items: center;
    display: flex;
    height: auto;
    width: 90%;
    margin: 0 auto;
    max-width: 1440px;
    padding: 1rem;
}

.headerInside {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logoHeader{
    width: 186px;
}

.headerNav {
    width: 250px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.signUpEnterprise {
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 27px;
    font-style: normal;
    color: var(--ComplementaryColor2);
}

.hr {
    background: var(--PrimaryColor1);
    transform: rotate(90deg);
    width: 33px;
    height: 0px;
}

.loginLanding {
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 27px;
    font-style: normal;
    color: var(--PrimaryColor1);
}

#buttonSignUp {
    width: 170px;
    height: 48px;
}

/*------MAIN------*/

.section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 525px;
}

.content {
    width: 640px;
    height: 370px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.content-landing {
    align-items: flex-start !important;
}
lan

.section h2 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 49px;
    color: var(--PrimaryColor1);
}

.section h6 {
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    color: var(--ComplementaryColor2);
    margin-top: 2rem;
}

.section2 {
    flex-direction: column;
    background: var(--ComplementaryColor1);
}

.section2Content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.articleArea {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.articleArea article {
    background: var(--WHITE);
    box-shadow: 4px 4px 4px var(--lightShadow);
    border-radius: 30px;
    width: 325px;
    height: 325px;
    display: grid;
    justify-items: center;
    padding: 25px 25px 25px 25px;
}

.articleArea article img {
    width: 70px;
    height: 70px;
}

.articleArea article h5 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    color: var(--PrimaryColor1);
}

.articleArea article p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: var(--ComplementaryColor2);
    text-align: center;
}

.section3 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 700px;
    align-items: center;
}

.section3Conteint {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.sectionH3 {
    font-weight: 400;
    line-height: 40px;
    color: var(--PrimaryColor1);
}

.sectionH5 {
    font-weight: 400;
    line-height: 30px;
    color: var(--ComplementaryColor2);
    text-align: center;
    align-items: center;
    width: 632px;
}

.pageRepresentation {
    /* width: 605px;
    height: 368px; */
    max-width: 42%;
    width: 100%;
    
}

.textConteint {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 483px;
    height: 315px;
}

.textConteint p {
    color: var(--PrimaryColor1);
    align-items: center;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

@media only screen and (max-device-width: 900px) {
    .headerInside {
        width: 700px;
    }

    .section {
        flex-direction: column;
        height: 700px;
    }
    .section3Conteint {
        display: flex;
        justify-content: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .pageRepresentation {
        /* width: 605px;
        height: 368px; */
        max-width: none;
        width: 100%;
        
    }
    


}
@media only screen and (max-width: 1280px){
    .container{
        width: 1200px;
    }
    .landbutton-test {
        margin-top: 32px;
        margin-bottom: 32px;
        width: 140px;
    }
    .content-landing{
        margin-top: 2rem;
    }
}

@media only screen and (max-width: 375px) {
    .landingPage {
        overflow-x: hidden;
    }

    .header {
        height: 20px;
    }

    .container.section,
    .container.section2Content {
        width: 375px;
    }

    .content-landing,
    .sectionH5,
    .textConteint {
        width: 300px;
    }

    .bold {

        width: 280px;
        line-height: 30px;
    }

    .pageRepresentation {
        width: 100%;
       
    }

    .cool-robot-landingpage {
        width: 300px;
        margin-top: 20px;
        margin-bottom: 30px;
    }

    .landbutton-test {
        margin-top: 30px;
        margin-left: 35px;
        margin-bottom: 30px;
        width: 140px;
    }

    .header {
        visibility: hidden;
    }

    .articleArea article {
        background: var(--WHITE);
        box-shadow: 4px 4px 4px var(--lightShadow);
        border-radius: 30px;
        width: 225px;
        height: 205px;
        display: grid;
        justify-items: center;
        padding: 25px 25px 25px 25px;
    }

    .articleArea {
        flex-direction: column;
        justify-content: space-between;
        margin-left: 105px;

    }

    .section2 {
        height: 975px;
    }

    .articleArea article {
        margin-top: 30px;

    }

    .section2Content {
        justify-content: unset
    }

    .aga3-area {
        margin-top: 30px;
    }

    .section3Conteint {
        flex-direction: column;
        justify-content: space-between;
    }

    .container.section3 {
        width: 375px;
        height: 900px;
    }
}