*{
        margin: 0;
        padding: 0;
        /* box-sizing: border-box; */
}
.logo-Header{
        width: 350;
        height: 150;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 50px;
}
.login{
        background-color: var(--ScreenBackground);
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        
}
.login-container{
        background-color: var(--WHITE);
        height: 90vh;
        width: 60%;
        margin: 0 auto;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        filter: drop-shadow(0px 4px 4px var(--darkShadow));
}
.topo-input-email{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 23px;
        line-height: 28px;
        text-indent: 32px;
        color: var(--PrimaryColor2);
        display: flex;
        text-align: start;
}

.topo-input-senha{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 23px;
        line-height: 28px;
        text-indent: 32px;
        color: var(--PrimaryColor2);
        display: flex;
        margin-top: 90px;
}
.formsLogin-Email input{
        border-radius: 50px;
        width: 370px;
        height: 70px;
        position: absolute;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 23px;
        line-height: 28px;
        display: flex;
        align-items: center;
        text-indent: 32px;
        opacity: 0.5;
        background: var(--WHITE);
/* Cinza */
        border: 1px solid var(--ComplementaryColor2);
        box-sizing: border-box;
        border-radius: 32px;
}
.Login input{
        border-radius: 50px;
        width: 370px;
        height: 70px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 23px;
        line-height: 28px;
        text-indent: 32px;
        margin-right: 0 auto;
        margin-left: 0 auto;
        opacity: 0.6;
        background: var(--WHITE);
        /* Cinza */
        border: 1px solid var(--ComplementaryColor2);
        box-sizing: border-box;
        border-radius: 32px;
}
.botaoLogin{
        background: var(--PrimaryColor2);
        width: 200px;
        height: 55px;
        color: var(--WHITE);
        border-radius: 64px;
        font-family: 'Montserrat', sans-serif;
        font-size: 24px;
        font-weight: 400;
        line-height: 28px;
        border: none;
        margin-top: 30px;
        cursor: pointer;
        box-shadow: 0px 6px 6px var(--darkShadow);
}
.botaoLogin:hover{
        background: var(--PrimaryColor2);
}
.EsqueceuSenha a, .NotSigned-login{
        font-family: 'Montserrat';
        font-style: italic;
        font-weight: 250;
        font-size: 23px;
        line-height: 28px;
        display: flex;
        align-items: center;
        text-align: center;
        color: var(--PrimaryColor2);
        margin-left: 70px;
        margin-top: 20px;
        cursor: pointer;
        opacity: 0.8;
}
.divider{
        font-family: 'Montserrat';
        font-style: italic;
        font-weight: 250;
        font-size: 23px;
        line-height: 28px;
        display: flex;
        align-items: center;
        text-align: center;
        color: var(--PrimaryColor2);
        margin-left: 90px;
        margin-top: 20px;
        opacity: 0.2;
}
button{
        border-radius: 32px;
}
.google-button{ 
        /* border: 2px solid !important; 
        border-image-slice: 30 !important;
        border-image-source: linear-gradient(90deg, #4885ED 0%, #4885ED 26.04%, #DB3236 26.18%, #DB3236 51.03%, #F4C20D 51.04%, #F4C20D 76.56%, #3CBA54 76.57%) !important; */
        position: relative;
        border: solid 2px !important;
        border-image-slice: 30 !important;
        border-radius: 20px !important;
        background-image: linear-gradient(white, white), radial-gradient(circle at top left, red, blue) !important;
        background-origin: border-box;
        background-clip: content-box, border-box;
        cursor: pointer;
        width: 400px;
        height: 65px;
        border-radius: 32px;
        line-height: 28px;
        border: none;
        margin-top: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        /* margin-left: 35px; */
        box-shadow: rgb(0 0 0 / 24%) 0px 2px 2px 0px, rgb(0 0 0 / 24%) 0px 0px 1px 0px;
        background-color: rgb(255, 255, 255);
        display: inline-flex;
        align-items: center;
        
        
        padding: 0px;
        
        font-size: 14px;
        font-weight: 500;
        
        margin-left: 85px;
        cursor: pointer;
        box-shadow: 0px 6px 6px var(--darkShadow);
}
.img-red{
        position: fixed;
        top: 0;
        right: 0;
}
.img-blue{
        position: fixed;
        bottom: 0;
        left: 0;
}
form{
        align-items: center;
}
#googleLogin{
        /* color: rgba(0, 0, 0, 0.54); */
        padding-right: 5px;
        font-size: 18px;
        font-weight: 500;
        font-family: 'Montserrat', sans-serif;
}
.icon3{
        width: 30px;
        height: 30px;
        margin-right: 5px;
        background: rgb(255, 255, 255);
        padding: 5px;
        border-radius: 2px
}