*{
        margin: 0;
        padding: 0;
}
.notfoundimg img{
        width: 600px;
        height: 500px;
        margin-left: 650px;
}
.test{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 60px;
        margin-bottom: 40px;
}
.buttonNotFound{
        margin-left: 880px;
        margin-top: 30px;
        margin-bottom: 50px;
}
.p{
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        margin-top: 20px;
}
.button{
        margin: 0 auto;
        margin-top: 30px;
        margin-bottom: 300px;
}