.robotBlue {
    height: 100%;
    display: flex;
    align-items: flex-end;
}

.robotRed {
    height: 100%;
    display: flex;
    align-items: flex-start;
}

.registerArea {
    width: 80vw;
    height: 85%;
    background: var(--WHITE);
    border: 2px solid var(--ComplementaryColor1);
    box-sizing: border-box;
    box-shadow: 0px 4px 4px var(--darkShadow);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}

.registerContent {
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.logoRegister {
    width: 200px;
    margin-bottom: 15px;
    /* position: absolute; */
}

.formRegister {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 92%;
}

.formRegister input {
    padding-left: 5%;
    padding-right: 5%;
}

.inputsArea {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 83%;
}

button {
    cursor: pointer;
}

input[type="file"] {
    border: none;
    display: none;
    text-align: center;
    font: message-box;
}

.imageProfileInput {
    display: none;
}

input#file-upload-button {
    background-color: var(--PrimaryColor2);
}

.areaPhoto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.step2 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 75%;
}

/* RegisterUser */

.passwordArea {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.passwordArea input {
    width: 100%;
}

.eyePass {
    align-items: center;
    text-decoration: none;
    margin-right: 5%;
    position: fixed;
    padding-right: 22px;
}

#buttonBackStep {
    width: 45px;
    height: 45px;
    font-size: 1.2em;
    position: absolute;
    top: 35px;
    left: 35px;
    color: var(--PrimaryColor2);
}

.icon {
    color: var(--WHITE);
}

.sendPhoto {
    width: 100px;
    background: var(--PrimaryColor2);
    align-items: center;
}

#areaPhoto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contentRender {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.imageLoadText {
    padding-left: 5%;
}

.hidden {
    display: none;
}

.block {
    cursor: no-drop;
}

/* Pequenas alterações */
/* .forms-select{
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5em;
} */

@media only screen and (max-width: 768px) {
    :root {
        font-size: 0.9em;
    }

    .robotBlue {
        display: none;
    }

    .robotRed {
        display: none;
    }

    .backgroudRegister {
        justify-content: center;
    }

    .registerContent {
        width: 80%;
    }

    .formRegister {
        width: 100%;
    }

    .contentRender {
        width: 100%;
    }
}

@media screen and (max-width: 365px) {
    :root {
        font-size: 0.8em;
    }
    #buttonBackStep {
        width: 35px;
        height: 35px;
        left: unset;
    }

    .logo-Header {
        width: 145px !important;
    }

    #logoRegisters {
        margin-top: 15px;
    }
    .eyePass{
        padding-right: 17.5px;
    }
}