:root {
    --box-shadow-var: 1px 4px 4px var(--ComplementaryColor4);
}

.pageTitle{
    margin-top: 82px;
    margin-left: 20vh;
}

.taskCalendar {
    display: flex;
    justify-content: space-around;
}

.task{
    padding-left: 80px;
    width: 75%;
    display: flex;
    justify-content: space-around;
}

.toDo, .do, .done{
    width: 250px;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 4px 4px var(--darkShadow);
    border-radius: 30px;
    background-color: var(--ComplementaryColor1);
}

.cardTask {
    margin-left: 26px;
    margin-right: 26px;
    background-color: var(--SecundaryColor2);
    border-radius: 30px;
    color: var(--WHITE);
    padding: 55px 16px 55px 16px;
    box-shadow: var(--box-shadow-var);
    border: 2px solid var(--SecundaryColor1);
    font-weight: 600;
}

.taskTitle, .pageTitle{
    color: var(--BLACK);
}

.pageTitle {
    margin-bottom: 3.5rem;
}

.taskTitle {
    margin: 2rem 0 3rem 0;
}

/* .taskSpace {
    display: flex;
    flex-direction: column;
} */

.calendarAndBtn {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-self: center;
}

.calendar{
    width: 342px;
    height: 460px;
    border-radius: 30px;
    box-shadow: 0px 4px 4px var(--ComplementaryColor4);
    margin-left: 2rem;
    display: grid;
    grid-template-columns: 1rem 1rem 1rem 1rem 1rem;
    grid-template-rows: 1rem 1rem 1rem 1rem 1rem 1rem 1rem;
    gap: 3rem;
    /* justify-content: center;
    align-items: center;
    flex-wrap: wrap; */
}

.calendarTitle {
    grid-column: span 5;
}

.btnCalendar {
    width: 3rem;
    height: 3rem;
    margin: 0 0.5rem 0 0.5rem;
    /* color: var(--WHITE); */
    color: #000000;
    /* background-color: var(--PrimaryColor2); */
    background-color: #F2F2F2;
    border-radius: 30px;
    box-shadow: 4px 4px 4px var(--darkShadow);
}

.btnNewTask{
    margin-top: 32px;
}